<footer>
  <div class="expressjs_svg_container">
    <img src="./expressjs.svg" alt="Express JS" />
  </div>

  <div class="nodejs_svg_container">
    <img src="./nodejs.svg" alt="Node JS" />
  </div>
</footer>
